@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CapeTownMunicipalityApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/CapeTownMunicipalityApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="City of Cape Town Municipality" style="height:50px;" />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                        aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="btn me-2 @(ViewData["Title"]?.ToString() == "Home" ? "active-nav" : "")"
                               asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn  me-2 @(ViewData["Title"]?.ToString() == "Report" ? "active-nav" : "")"
                               asp-area="" asp-controller="Report" asp-action="Form">@Localizer["Report"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn me-2 @(ViewData["Title"]?.ToString() == "Events & Announcements" ? "active-nav" : "")"
                               asp-area="" asp-controller="EventsAndAnnouncements" asp-action="Index">@Localizer["Events"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn me-2 @(ViewData["Title"]?.ToString() == "Services" ? "active-nav" : "")"
                               asp-area="" asp-controller="Services" asp-action="Temp">@Localizer["Services"]</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="btn me-2 @(ViewData["Title"]?.ToString() == "Settings" ? "active-nav" : "")"
                               asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Settings"]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - CapeTownMunicipalityApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
